main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

p, h1 {
  color :  orangered;
}

ul {
  list-style-type: none;

}

nav ul li{
  box-shadow : 2px 5px 5px gray;
}

img{
  height: 10rem;
  width: auto;
  border-radius : 30px;
  box-shadow : 10px 5px 5px gray;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}
